# AutoRA-specific files
example/studies/**/modeling

# PyCharm ignores are handled by the .idea/.gitignore file
# VSCode ignores are handled by the .vscode/.gitignore file

# Python Environment
.python-version
.venv

# Dependencies
Brewfile.lock.json

# General ignores for macOS
.DS_Store

# Python ignores, from https://github.com/github/gitignore/blob/main/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
conda/dist
conda/env.sh
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Material for MkDocs
site/

# Jupyter Notebook load data
.ipynb_checkpoints
