# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

INHERIT: mkdocs/base.yml  # use the shared AutoRA configuration by default

site_name: Autonomous Empirical Research
repo_url: 'https://github.com/autoresearch/autora'
edit_uri: 'blob/main/docs/'

extra:
  colab_base_url: 'https://colab.research.google.com/github/AutoResearch/autora/blob/gh-pages'

theme:
  logo: img/logo.png
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  custom_dir: mkdocs/overrides
  features:
    - content.action.edit
    - content.action.view
    - navigation.indexes

nav:
- Introduction: 'index.md'
- Tutorials:
  - Introduction: 'tutorials/index.md'
  - Automated Theorist
  - Automated Experimentalist
  - Closed-Loop Discovery
- User Guide:
  - Theorists:
    - Home: 'theorist/index.md'
    - DARTS: '!import https://github.com/autoresearch/autora-theorist-darts/?branch=main&extra_imports=["mkdocs/base.yml"]'
    - BMS: '!import https://github.com/autoresearch/autora-theorist-bms/?branch=main&extra_imports=["mkdocs/base.yml"]'
    - BSR: '!import https://github.com/autoresearch/autora-theorist-bsr/?branch=main&extra_imports=["mkdocs/base.yml"]'
  - Experimentalists:
    - Home: 'experimentalist/index.md'
    - Falsification: '!import https://github.com/autoresearch/autora-experimentalist-falsification/?branch=main&extra_imports=["mkdocs/base.yml"]'
    - Samplers:
      - Novelty: '!import https://github.com/autoresearch/autora-experimentalist-sampler-novelty/?branch=main&extra_imports=["mkdocs/base.yml"]'
      - Inequality: '!import https://github.com/autoresearch/autora-experimentalist-sampler-inequality/?branch=main&extra_imports=["mkdocs/base.yml"]'
      - Nearest Value: '!import https://github.com/autoresearch/autora-experimentalist-sampler-nearest-value/?branch=main&extra_imports=["mkdocs/base.yml"]'
      - Model Disagreement: '!import https://github.com/autoresearch/autora-experimentalist-sampler-model-disagreement/?branch=main&extra_imports=["mkdocs/base.yml"]'
      - Uncertainty: '!import https://github.com/autoresearch/autora-experimentalist-sampler-uncertainty/?branch=main&extra_imports=["mkdocs/base.yml"]'
    - Poolers:
  - Experiment Runners:
    - Home: 'experiment-runner/index.md'
    - Firebase-Prolific: '!import https://github.com/autoresearch/autora-experiment-runner-firebase-prolific/?branch=main&extra_imports=["mkdocs/base.yml"]'
    - Experimentation Managers:
      - Firebase: '!import https://github.com/autoresearch/autora-experiment-runner-experimentation-manager-firebase/?branch=main&extra_imports=["mkdocs/base.yml"]'
    - Recruitment Managers:
      - Prolific: '!import https://github.com/autoresearch/autora-experiment-runner-recruitment-manager-prolific/?branch=main&extra_imports=["mkdocs/base.yml"]'
  - Synthetic Data: '!import https://github.com/autoresearch/autora-synthetic/?branch=main&extra_imports=["mkdocs/base.yml"]'
  - Workflow: '!import https://github.com/autoresearch/autora-workflow/?branch=main&extra_imports=["mkdocs/base.yml"]'
- Contributor Guide:
  - Module Contributions
  - Core Contributions

