# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Automated Research Assistant
repo_url: 'https://github.com/autoresearch/autora/'
site_url: 'https://autoresearch.github.io/autora/'
edit_uri: 'blob/main/docs/'

extra:
  colab_base_url: 'https://colab.research.google.com/github/AutoResearch/autora/blob/gh-pages/'

theme:
  name: material
  logo: img/logo.png
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  custom_dir: mkdocs/overrides
  features:
    - navigation.indexes

plugins:
  multirepo:
    nav_repos:
      - name: core
        import_url: https://github.com/autoresearch/autora-core/?branch=main&extra_imports=["mkdocs/base.yml"]
        imports: ["docs/pipeline/*",]
      - name: falsification
        import_url: https://github.com/autoresearch/autora-experimentalist-falsification/?branch=main&extra_imports=["mkdocs/base.yml"]
        imports: ["docs/*", "docs/sampler/*", "docs/pooler/*", ]
      - name: bms-tutorial
        import_url: https://github.com/autoresearch/autora-theorist-bms/?branch=main&extra_imports=["mkdocs/base.yml"]
        imports: ["docs/*"]
      - name: workflow-tutorial
        import_url: https://github.com/autoresearch/autora-workflow/?branch=main&extra_imports=["mkdocs/base.yml"]
        imports: ["docs/*"]
      - name: falsification-tutorial
        import_url: https://github.com/autoresearch/autora-experimentalist-falsification/?branch=main&extra_imports=["mkdocs/base.yml"]
        imports: [ "docs/*"]
  mkdocs-jupyter: # required to convert Jupyter notebooks
    include_source: true
    execute: false
    ignore_h1_titles: true
  search: {}
  mkdocs-simple-hooks:
    hooks:
      on_env: "docs.hooks:on_env"

markdown_extensions:
  admonition: {}
  pymdownx.details: {}
  pymdownx.superfences: {}
  pymdownx.arithmatex: # required for equation display
    generic: true
  pymdownx.snippets: {}
  pymdownx.tabbed:
    alternate_style: true

extra_javascript: [
  # requirements for pymdownx.arithmetex:
  "javascripts/mathjax.js",
  "https://polyfill.io/v3/polyfill.min.js?features=es6",
  "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
]

nav:
- Introduction: 'index.md'
- Tutorials:
  - Home: 'tutorials/index.md'
  - Automated Theorist: 'bms-tutorial/docs/Basic Usage.ipynb'
  - Automated Experimentalist: 'falsification-tutorial/docs/sampler/Basic Usage.ipynb'
  - Closed-Loop Discovery: 'workflow-tutorial/docs/interactive/Basic Usage.ipynb'
- User Guide:
  - Theorists:
    - Home: 'theorist/index.md'
    - DARTS: '!import https://github.com/autoresearch/autora-theorist-darts/?branch=main&extra_imports=["mkdocs/base.yml"]'
    - BMS: '!import https://github.com/autoresearch/autora-theorist-bms/?branch=main&extra_imports=["mkdocs/base.yml"]'
    - BSR: '!import https://github.com/autoresearch/autora-theorist-bsr/?branch=main&extra_imports=["mkdocs/base.yml"]'
  - Experimentalists:
    - Home: 'experimentalist/index.md'
    - Pipeline: 'core/docs/pipeline/Experimentalist Pipeline Examples.ipynb'
    - Samplers:
      - Novelty: '!import https://github.com/autoresearch/autora-experimentalist-sampler-novelty/?branch=main&extra_imports=["mkdocs/base.yml"]'
      - Inequality: '!import https://github.com/autoresearch/autora-experimentalist-sampler-inequality/?branch=main&extra_imports=["mkdocs/base.yml"]'
      - Nearest Value: '!import https://github.com/autoresearch/autora-experimentalist-sampler-nearest-value/?branch=main&extra_imports=["mkdocs/base.yml"]'
      - Model Disagreement: '!import https://github.com/autoresearch/autora-experimentalist-sampler-model-disagreement/?branch=main&extra_imports=["mkdocs/base.yml"]'
      - Uncertainty: '!import https://github.com/autoresearch/autora-experimentalist-sampler-uncertainty/?branch=main&extra_imports=["mkdocs/base.yml"]'
      - Falsification:
        - Home: 'falsification/docs/sampler/index.md'
        - Quickstart: 'falsification/docs/sampler/quickstart.md'
        - Examples:
          - Basic Usage: 'falsification/docs/sampler/Basic Usage.ipynb'
    - Poolers:
      - Falsification:
        - Home: 'falsification/docs/pooler/index.md'
        - Quickstart: 'falsification/docs/pooler/quickstart.md'
        - Examples:
          - Basic Usage: 'falsification/docs/pooler/Basic Usage.ipynb'
  - Experiment Runners:
    - Home: 'experiment-runner/index.md'
    - Synthetic: '!import https://github.com/autoresearch/autora-synthetic/?branch=main&extra_imports=["mkdocs/base.yml"]'
    - Firebase-Prolific: '!import https://github.com/autoresearch/autora-experiment-runner-firebase-prolific/?branch=main&extra_imports=["mkdocs/base.yml"]'
    - Experimentation Managers:
      - Firebase: '!import https://github.com/autoresearch/autora-experiment-runner-experimentation-manager-firebase/?branch=main&extra_imports=["mkdocs/base.yml"]'
    - Recruitment Managers:
      - Prolific: '!import https://github.com/autoresearch/autora-experiment-runner-recruitment-manager-prolific/?branch=main&extra_imports=["mkdocs/base.yml"]'
  - Workflow: '!import https://github.com/autoresearch/autora-workflow/?branch=main&extra_imports=["mkdocs/base.yml"]'
- Contributor Guide:
  - Overview: 'contribute/index.md'
  - Module Contributions: 'contribute/module.md'
  - Core Contributions: 'contribute/core.md'
  - Environment Setup: 'contribute/setup.md'
  - Pre-Commit Hooks: 'contribute/pre-commit-hooks.md'
