[tool.poetry]
name = "autora"
version = "2.0.0"
description = "Autonomous Research Assistant (AutoRA) is a framework for implementing machine learning tools which autonomously and iteratively generate 1) new theories to describe real-world data, and 2) experiments to invalidate those theories and seed a new cycle of theory-making. The experiments will be run online via crowd-sourcing platforms (MTurk, Prolific)."
authors = [
    "Sebastian Musslick <sebastian_musslick@brown.edu>",
    "John Gerrard Holland <john_holland1@brown.edu>",
]
readme = "README.md"
homepage = "https://musslick.github.io/AER_website/Research.html"
repository = "https://github.com/AutoResearch/autora"
documentation = "https://autoresearch.github.io/autora/"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
numpy = "^1.23.1"
scipy = "^1.9.3"
imageio = "^2.9.0"
matplotlib = "^3.2.1"
pandas = "^1.4.2"
graphviz = ">=0.14.1,<0.21.0"
seaborn = ">=0.11.1,<0.13.0"
scikit-learn = "^1.1.1"
sympy = "^1.10.1"
tinkerforge = {version = "^2.1.25", optional=true}
torch = "1.12.1"
tqdm = "^4.64.0"

[tool.poetry.extras]
tinkerforge = ["tinkerforge"]

[tool.poetry.group.dev.dependencies]
jupyter = "^1.0.0"
pytest = "^7.2.0"
ipython = "^8.4.0"
ipywidgets = "^7.7.1"

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^8.5.10"
mkdocs-gen-files = "^0.3.4"
mkdocs-literate-nav = "^0.4.1"
mkdocs-section-index = "^0.3.4"
mkdocstrings-python = "^0.7.1"

[tool.poetry.group.ci.dependencies]
flake8 = "^5.0.4"
pytest = "^7.1.2"
pre-commit = "^2.20.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
